html {
    height: 100%;
    --old-mauve: #672a4eff;
    --tuscany: #b09398ff;
    --opal: #cedfd9ff;
    --azure-x-11-web-color: #ebfcfbff;
    --green-blue-crayola: #0a81d1ff;
    --raisin-black: #242325;
    --cultured: #F6F4F3;
    background-color: var(--raisin-black);
}
*{
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
body, #root{
    height: 100%;
}

@font-face {

    font-family: "Frutiger Bold";

    src: url("../fonts/FrutigerLTStd-Bold.otf");

}

@font-face {
    font-family: "Frutiger";
    src: url('../fonts/FrutigerLTStd-Roman.otf')
}

@font-face {
    font-family: "Frutiger Light";
    src: url('../fonts/FrutigerLTStd-Light.otf')
}

@font-face {
    font-family: "Frutiger Light Cn";
    src: url('../fonts/FrutigerLTStd-LightCn.otf')
}

@font-face {
    font-family: "Frutiger Cn";
    src: url('../fonts/FrutigerLTStd-Cn.otf')
}

@font-face {
    font-family: "Frutiger Roman";
    src: url('../fonts/FrutigerLTStd-Roman.otf')
}


@font-face {
    font-family: "Frutiger Black";
    src: url('../fonts/FrutigerLTStd-Black.otf')
}

.h-100{
    height: 100%;
}

.w-25{
    width: 25%;
}

.w-30{
    width: 30%;
}

.w-40{
    width: 40%;
}

.w-50{
    width: 50%;
}

.w-65{
    width: 65%;
}
.w-70{
    width: 70%;
}
.w-75{
    width: 75%;
}

.w-100{
    width: 100%;
}

h1, h2, h3, h4, h5{
    font-family: "Frutiger Bold";
    letter-spacing: 0.5px;
    color: var(--cultured);
}

.justify-center{
    justify-content: center;
    justify-items: center;
}

.justify-right{
    justify-content: flex-end;
}

.align-center{
    align-items: center;
}
.align-right{
    align-items: flex-end;
}

.space-between{
    justify-content: space-between;
}

.flex{
    display: flex;
}

.flexWrap{
    flex-wrap: wrap;
}

.column{
    display: flex;
    flex-direction: column;
}



.smallPaddingTop{
    padding-top:2%;
}

.smallPaddingBottom{
    padding-bottom:2%;
}

.smallPaddingLeft{
    padding-left: 2%;
}

.smallPaddingRight{
    padding-right: 2%;
}


.smallVerticalMargin{
    margin-right: 1%;
    margin-left: 1%;
}

.smallMarginTop{
    margin-top:2%;
}

.smallMarginBottom{
    margin-bottom:2%;
}
.mediumMarginBottom{
    margin-bottom: 5% !important;
}

.smallMarginLeft{
    margin-left: 2%;
}

.smallMarginRight{
    margin-right: 2%;
}

.mediumPaddingTop{
    padding-top:5%;
}

.mediumPaddingBottom{
    padding-bottom:5%;
}


.coolButton{
    min-width: 175px;
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 48px;
    padding: 0px 24px;
    background-color: var(--old-mauve);
    color: white;
    width: 20%;
}
.smallCoolButton{
    padding: 0px;
    height: 30px;
}
.reverseColor{
    color: var(--old-mauve) !important;
    background-color: white !important;
}

.dataBox{
    background-color: var(--azure-x-11-web-color);
    opacity: 0.8;
    width: 40%;
    height: 300px;
    margin-bottom: 5%;
}

.dataBoxHeader{
    height: 50px;
    background-color: var(--old-mauve);
    padding: 2%;
    color: white;
}

.dataBoxHeader img{
    height: 25px;
}

.dataBoxContent{
    overflow-y: scroll;
    padding: 2%;
}

.dataBox:first-child{
    margin-right: 5%;
}

.dataBox:nth-child(2n+3) {
    margin-right:5%;
}

input, select{
    height: 50px;
    border: none;
    margin-top: 2%;
    padding: 2%;
    box-sizing: border-box;
}

span{
    color:white;
}

.snipeWallet{
    height: auto;
    background-color: var(--old-mauve);
    color: white;
    word-break: break-word;
}

.snipeWalletAddress{
    font-size: 9px;
}

.wrapper{
    padding: 5%;
}

.snipeWallet span{
    padding: 2%
}
h3{
    margin-block-start: 0;
    margin-block-end: 2%;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.sniperWalletHeader{
    width: 100%;
    border-bottom: 1px solid white;
    margin-bottom: 5%;
}

.sniperWalletHeader a{
    margin-left: 2%;
}

.sniperWalletButtons{
    margin-top: 3%;
}

.logoBsc{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 2%;
    margin-right: 2px;
    opacity: .8;
    transition: opacity .1s ease-in;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 12px;
}

.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:black;
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 50%;
    min-height: 40%;
    padding: 15px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background: #fff;
    justify-content: space-between;
}

.modalHeader{
    display: flex;
    width: 100%;
    justify-content: center;
}

.modalContent{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.modalFooter{
    display: flex;
    width: 100%;
    justify-content: center;
}

.modal h3, .modal span{
    color: black;
}

.bg{
    z-index: 9998;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}

.smallWrapper{
    padding: 2%;
}

.snipeContainer{
    padding: 1% 0% 3%;
    background: var(--old-mauve);
    margin-bottom: 5%;
}

select{
    padding: 1%;
    width: 100%;
    margin-top: 2%;
}

.react-datepicker-wrapper{
    width: 100%;
}

.react-datepicker-wrapper input{
    width: 100%;
}

.react-datepicker__input-container {
    display: flex;
    width: 100%;
}

.premiumContainer .snipeWallet{
    padding: 2% 5% 2%;
    border-radius: 0px;
}

.premiumBanner{
    background-color: white;
    height: 25px;
    padding: 2% 5% 2%;
}

.premiumContent{
    background-color: white;
    padding: 2% 5% 2%;
}
.premiumContent span{
    color: black;
}

.premiumBanner h4, .premiumBanner h2, .premiumBanner h3{
    padding:2px;
    margin: 0;
    color: black;
}




@media screen and (max-width: 1000px){

    .premiumContainer .w-65{
        width: 80%;
    }

    .sniperLaunch .w-65{
        width: 80%;
    }

    .modalContainer{
        width: 80%;
        position: relative;
        margin: auto;
    }

    .buttonContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buttonContainer button:last-of-type{
        margin-top: 3%;
    }

    .snipeWalletContainer div:not(.bg){
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-top: 2%;
    }

    .snipeWalletContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .snipeContainer span{
        text-align: center;
    }

    .snipeWallet{
        margin-top: 1%;
        margin-bottom: 1%;
    }


}